/* Style */
body, html {
    font-family: "Lato", sans-serif;
    height: 100%;
    background: linear-gradient(to bottom, #757abf 0%,#8583be 60%,#eab0d1 100%);
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 12%;
}

.h1{
    margin-bottom: 50px !important;
}

.play-btn{
    width: 50px;
    position: relative;
    top: -50%;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
}
.col-md-4:hover .play-btn{
    opacity: 1;
}